{% extends 'base.html' %}
{% block title %}
    Art
{% endblock %} 
{% block content %}
    <div class="artwork">
        <div class="art">
            <img src="{{ url_for('static', filename='art/beep.jpg') }}" alt="BEEP">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/boom.jpg') }}" alt="boom">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/kielian_balance.jpg') }}" alt="balance">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/kielian_creature_2.jpg') }}" alt="creature 2">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/kielian_creature_one copy.jpg') }}" alt="creature 1">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/kielian_emphasis.jpg') }}" alt="emphasis">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/kielian_removing.jpg') }}" alt="removing">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/kielian_rhythm.jpg') }}" alt="rhythm">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/kielian_unity.jpg') }}" alt="unity">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/kielian_varity.jpg') }}" alt="varity">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/mutilate.jpg') }}" alt="mutilate">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/myLove.jpg') }}" alt="myLove">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/shhh.jpg') }}" alt="shhh">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/splash.jpg') }}" alt="splash">
            <p>Desc about art goes here</p>
        </div>
        <div class="art">
            <img src="{{ url_for('static', filename='art/ominous_landscape_kielian.jpg') }}" alt="Ominous Landscape">
            <p>Desc about art goes here</p>
        </div>
    </div>
{% endblock %} 