<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/art">Art Work</a></li>
                <li><a href="/game">Games</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav> 
        <h1 class="BoldName">Oliver Kielian</h1>
        {% block content %} 
        {% endblock %}
    </body>
</html>