{% extends 'base.html' %}
{% block title %}
    Contact
{% endblock %} 
{% block content %}
    <div class="contactForm">
        <form method="POST" action="/contact">
            Name: <input type="text" name="name" required><br>
            Subject: <input type="text" name="subject" required><br>
            Email: <input type="text" name="email" required><br>
            Message: <input type="textarea" name="message" required><br>
            <input type="submit" value="SEND">
        </form>
    </div>
{% endblock %}