{% extends 'base.html' %}
{% block title %}
    Games
{% endblock %} 
{% block content %}
<h1 class="disclaimer">DISCLAIMER: I am currently trying to get these games up so you are able to play them from your browser. While I am working on that, check out the screenshots I've attached</h1>
    <div class="games">
        <div class="game">
            <p>Bevy</p>
            <p>Play Link Coming Soon!</p>
            <a href="https://github.com/oliver-kielian/claw_machine_game">Repository</a>
        </div>
        <div class="game">
            <p>Gamemaker</p>
            <p>Coming Soon!</p>
            <a href="https://github.com/oliver-kielian/claw_machine_game">Repository</a>
        </div>
    </div>
{% endblock %}