{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %} 
{% block content %}
    <div class="whoIAm">
        <h3>Who I am</h3>
        <p>Hi! My name is Oliver Kielian. I am a soon to be college graduate from Western Colorado University in Gunnison, Colorado. 
            I will hold a Bachelor's of Science in Computer Science with certifications in Software Engineering and Full Stack Development.
            If you are interested in seeing what I can do or just learning more about feel free to check out some helpful links below or press any of the 
            tabs above!
        </p>
    </div>
    <div class="helpfulLinks">
        <h3>Helpful Links</h3>
        <a href="https://github.com/oliver-kielian">Github</a><br>
        <a href="https://www.linkedin.com/in/oliver-kielian">LinkedIn</a>
    </div>
{% endblock %} 